#landing-page {
  width: 100vw;
  height: 100vh;
  padding: 3em 4em;
  background:  linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page .container {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  background: url("../../images/home-img.svg") 80% center no-repeat;
  background-size: auto 100%;
}

.container main h1 {
  max-width: 400px;
  padding: .5em 0;
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

.container main p {
  max-width: 350px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.container .location-container {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 24px;
  line-height: 34px;
}

.container .location-container strong {
  font-weight: 800;
}

.container .button-enter {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;

  background-color: #FFD666;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.container .button-enter:hover {
  background-color: #96FEFF;
}
