#map-page {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#map-page aside {
  width: 440px;
  height: 100vh;
  padding: 3em;

  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#map-page aside header {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#map-page .logo-container {
  flex: 1;
}

#map-page .description-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-right: 3em;
}

#map-page .description-container h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  padding-bottom: .5em;
}

#map-page aside p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

#map-page footer {
  display: flex;
  flex-direction: column;
  
  line-height: 24px;
}

#map-page footer strong {
  font-weight: 800;
}

#map-page .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;

  width: 64px;
  height: 64px;
  background: #15c3d6;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .2s;
}

#map-page .create-orphanage:hover {
  background-color: #17d6eb;
}